<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
    <header>
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        © Sortir.com {{ "now"|date("Y") }}
    </footer>
    </body>
</html>
