{% extends 'base.html.twig' %}

{% block body %}
   <h2>Oooops erreur 404. Vous êtes perdu ?</h2>

   <p><a href="{{ path('Main') }}">Retournez à la page d'acceuil</a> </p>

{% endblock %}

{% block title %}Erreur 404{% endblock %}